html {
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: "Manufacturing Consent", system-ui;
}


.logo-div {
    background-image: url(images/WebDesign_Site_Logo\(2\).png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 410px 190px;
    padding-bottom: 200px;
}




.hero-div {
    background-image: url(images/WedDesign_Site_Home_Image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}




.site-id {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
}


.id-item {
    flex-grow: 1;
    margin: 0 8px;
}


.id-link {
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}


.id-link:hover {
    background-color: #888;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.paragraph-one {
    width: 20%;
    padding: 70px;
}



.middle-illustration {
    background-image: url(images/WebDesign_Site_Home_Illustration.png);
    flex-grow: 1;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    padding-bottom: 900px;
}



.paragraph-two {
    width: 20%;
    padding: 70px;
}




.about-div {
    background-image: url(images/About_Hero_Image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}


.about-illustration {
    background-image: url(images/About_Illustartion_Top.png);
    flex-grow: 1;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1700px 500px;
    padding-bottom: 600px;
}



.about-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.side-illustration {
    background-image: url(images/Side_Illustration_Left.png);
    flex-grow: 1;
    padding: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    padding-bottom: 900px;
}


.about-paragraph {
    
    font-size: 30px;
   

}