html {
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: "Manufacturing Consent", system-ui;
}


.logo-div {
    background-image: url(images/WebDesign_Site_Logo\(2\).png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 410px 190px;
    padding-bottom: 200px;
}




.hero-div {
    background-image: url(images/Untitled-1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: -15%;
}




.site-id {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
}


.id-item {
    flex-grow: 1;
    margin: 0 8px;
}


.id-link {
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}


.id-link:hover {
    background-color: #888;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.paragraph-one {
    width: 20%;
    padding: 70px;
}



.middle-illustration {
    background-image: url(images/WebDesign_Site_Home_Illustration.png);
    flex-grow: 1;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 600px 900px;
    padding-bottom: 900px;
}



.paragraph-two {
    width: 20%;
    padding: 70px;
}




.ga-div {
    background-image: url(images/About_Hero_Image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}


.ga-illustration {
    background-image: url(images/About_Illustartion_Top.png);
    flex-grow: 1;
    padding: 0px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1670px 380px;
    padding-bottom: 400px;
    margin: 10px;
}



.ga-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.side-illustration {
    background-image: url(images/Side_Illustration_Left.png);
    flex-grow: 1;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 350px 650px;
    padding-bottom: 900px;
    padding-left: 240px;
}



.ga-paragraph {
    font-size: 40px;
    text-align: center;
    padding: 40px;
    margin-left: 5%;
    line-height: 70px;
    margin-top: -10%;
}



.side-illustartion-two {
    background-image: url(images/Side_Illustration_Right.png);
    flex-grow: 1;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 350px 648px;
    padding-bottom: 900px;
    padding-left: 310px;
}


.ga-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottom-left-footer {
    background-image: url(images/Left_Bottom_Illustration.png);
    flex-grow: 1;
    padding: 10px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 530px 200px;
    padding-bottom: 200px;
    padding-left: 240px;
    margin-top: -20%;
}


.bottom-right-footer {
    background-image: url(images/Right_Bottom_Illustration.png);
    flex-grow: 1;
    padding: 10px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 530px 200px;
    padding-bottom: 200px;
    padding-right: 240px;
    margin-top: -20%;
}


.artwork-illustration {
    background-image: url(images/Showcased_Artwork_Illustration.png);
    flex-grow: 1;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1500px 300px;
    padding-bottom: 300px;
}



.artowrk-title {
    font-size: 100px;
    display: flex;
    justify-content: center;
}



.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding: 20px;
    
}



.image-one {
    background-image: url(images/Image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 5%;
    max-width: 100%;
}



.image-three {
    background-image: url(images/Image_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 5%;
    max-width: 100%;
}



.image-five {
    background-image: url(images/Image_5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}


.image-six {
    background-image: url(images/Image_6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}


.image-seven {
    background-image: url(images/Image_7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}


.image-two {
    background-image: url(images/Image_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}



.image-nine {
    background-image: url(images/Image_9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}



.image-eight {
    background-image: url(images/Image_8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
    height: auto;
    margin-top: 25%;
    max-width: 100%;
}


.text-five {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.text-six {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.text-seven {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.text-two {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.text-nine {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.text-eight {
    display: flex;
    justify-content: center;
    margin-top: -20%;
}



.new-text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



.new-text-two {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



.about-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.about-description {
    width: 40%;
    padding: 70px;
    font-size: 30px;
    line-height: 50px;
}



.smithsonian-building-img {
    background-image: url(images/Smithsonian_Arts_and_Industries_Building.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px 500px;
    padding: 400px;
    height: auto;
    

}