html {
    background-color: black;
    color: white;
    font-size: large;
}


.logo-div {
    background-image: url(images/WebDesign_Site_Logo\(2\).png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 410px 190px;
    padding-bottom: 200px;
}


.about-div {
    background-image: url(images/About_Hero_Image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;

}



.hero-div {
    background-image: url(images/WedDesign_Site_Home_Image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}




.site-id {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
}


.id-item {
    flex-grow: 1;
    margin: 0 8px;
}


.id-link {
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}


.id-link:hover {
    background-color: #888;
}



.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.paragraph-one {
    width: 25%;
    padding: 80px;
}



.middle-illustration {
    background-image: url(images/WebDesign_Site_Home_Illustration.png);
    flex-grow: 1;
    padding: 10px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 400px 600px;
    padding-bottom: 600px;
}



.paragraph-two {
    width: 25%;
    padding: 80px;
}
